html {
    height: 100%;
}
body.form-page {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body.form-page h1 {
    margin: 0;
    margin-bottom: 20px;
}
body.form-page form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
body.form-page label {
    display: none;
}
body.form-page .project-title {
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
}
body.form-page .project-title::placeholder {
    font-size: 15px;
    color: black;
}
body.form-page button {
    width: 140px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    border-radius: 12px;
    background: rgb(0,51,231);
    background: linear-gradient(90deg, rgba(0,51,231,1) 0%, rgba(40,85,242,1) 22%, rgba(126,44,190,1) 100%);
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
body.form-page a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}