{% extends 'base.html.twig' %}

{% block title %}New Sprint{% endblock %}

{% block body %}
    <h1>Create new Sprint</h1>

    {{ include('sprint/_form.html.twig') }}

    <a href="{{ path('sprint_index', {'id' : project.id}) }}">back to list</a>
{% endblock %}
